annotated-types==0.7.0
markdown-it-py==4.1.0
mdurl==0.1.2
norminette==3.3.59
pydantic==2.12.5
pydantic_core==2.41.5
Pygments==2.20.0
rich==15.0.0
setuptools==82.0.1
termcolor==3.3.0
typing-inspection==0.4.2
typing_extensions==4.15.0
webcolors==25.10.0
